[user]
  name = "An Cao"
  email = "kcj.pop.com@gmail.com"

[alias]
  a = add
  aa = add . -A
  c = commit
  ca = commit --amend -s
  cms = commit -s
  co = checkout
  cob = checkout -b
  d = diff
  dc = diff --cached
  ds = diff --stat
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pr = pull --rebase
  rs = restore --stage
  s = status -s
  st = status
  st = status
  undo = reset HEAD^
